{% load i18n %}

{% block subject %}
{% blocktrans %}Account activation on beemathworld.ng {% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}You're receiving this email because you need to finish activation process on beemathworld.ng.{% endblocktrans %}

{% trans "Please go to the following page to activate account:" %}
{{ protocol }}://www.beemathworld.ng/{{ url|safe }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The beemathworld.ng team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}You're receiving this email because you need to finish activation process on beemathworld.ng.{% endblocktrans %}</p>

<p>{% trans "Please go to the following page to activate account:" %}</p>
<p><a href="{{ protocol }}://beemathworld.ng/{{ url|safe }}">{{ protocol }}://beemathworld.ng/{{ url|safe }}</a></p>

<p>{% trans "Thanks for using our site!" %}</p>

<p>{% blocktrans %}The beemathworld.ng team{% endblocktrans %}</p>

{% endblock html_body %}